*{
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}
.maintable{
	width: 100%;
	border: 0 none;
	border-collapse: collapse;
}
html{
	margin:0;
	padding:0 10%;
}
body{
	margin:0;
	padding: 0;
}
h1,h2,h3,h4,h5 {
	padding: 0;
	margin: 0;
}
ul, li{
	margin:0;
	padding:0 8px;
}
img.center {
    display: block;
    margin: 0 auto;
}
.shop-image{	
	max-width:260px;
	max-height: 100%;
	display: block;
    margin: 0 auto;
}
.shop-item{
	word-wrap: break-word;
	display: inline-block;
	width:260px;
	padding:4px;
	text-align: center;
	background: #BADF0D;
	vertical-align:top;

}
.shop-cont{
	width:260px;
	vertical-align: center;
	text-align: center;

}
.shop-table{
	display:inline-table;
	border: 0 none;
	margin:4px;
	border-collapse: collapse;
}
.product-pic{
	width: 50%;
	float:left;
	margin: 4px;
}
.left {
	vertical-align: top;

	width: 160px;
	background-color: #DEADBE;
	padding:1em;
}
.right {
	padding:1em;
	background-color: #EADBEE;
}
.container {
	overflow: auto;
	min-height:100%;
	position:relative;
}
.main{
	text-align: center;
	padding: 1em;
	background-color:#ADBEEF;
}
.footer{
	padding:1em;
	background-color: #DBEEFD;
	clear: both;
    position: relative;
    z-index: 10;
    height: 1em;
    margin-top: 0em;
}
.header{
	background-color: #EADBEE;
	padding: 1em 1em 0em 1em;
}
.content{
	overflow: auto;
	padding: 0 1em 1em 1em;
}
.feedback-author{
	width: 15%;
}
a, a:visited, a:active, a:hover, a:link{
	color:blue;
}